
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  cursor: pointer;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 50px;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.game-board{
  margin-top: 30px;
  cursor: none;
}

.mouse{
  font: 14px "Century Gothic", Futura, sans-serif;
  font-size: 24px;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}